WeatherPy
Review the Weather of 500+ cities across the world of varying distance from the equator.

In [1]:
#Dependencies
import matplotlib.pyplot as plt
import random
import requests
import pandas as pd
import numpy as np
import scipy.stats as st
from citipy import citipy
from config import weather_api_key

In [2]:
# set up lists to hold random cities
latitudes = np.random.uniform(-90, 90, size = 2000)
longitudes = np.random.uniform(-180, 180, size = 2000)

coordinates = list(zip(latitudes,longitudes))

In [4]:
#build out list of cities, using citipy
cities = []
#Use For loop to go through append list of cities.  Use citipy.
for coordinate in coordinates:
    lat, lon = coordinate
    cities.append(citipy.nearest_city(lat, lon))

In [7]:
# Set of nearby cities
city_names = []
country = []

#Use a For loop to retrieve  
for city in cities:
    city_names.append(city.city_name) 
    country.append(city.country_code)
    
city_dict ={
    "Latitude": latitudes,
    "Longitude": longitudes,
    "City": city_names,
    "Country": country
           }    

city_df = pd.DataFrame(city_dict)
city_df = city_df.drop_duplicates(["City","Country"]) # drop city-country duplicates
city_df.head()
#write out to csv
#city_df.to_csv('C:/Users/rjp54/city.csv', sep='\t', encoding='utf-8')

In [8]:
#Add columns to Dataframe to add Temperature, Humidity, Cloudiness, Wind Speed
city_df["Temperature (F)"] = ""
city_df["Humidity (%)"] = ""
city_df["Cloudiness (%)"] = ""
city_df["Wind Speed (mph)"] = ""
city_df.head()

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,67.945007,-16.619895,husavik,is,,,,
1,74.971793,0.800805,roald,no,,,,
2,-88.801791,-124.651617,punta arenas,cl,,,,
3,73.781210,174.393135,komsomolskiy,ru,,,,
4,-69.058971,-170.622475,vaini,to,,,,

In [ ]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
#units imperial is Fehrenheit
units = "imperial"

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="