In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

In [15]:
# Import API key and Configure Maps
from config import vacation_api_key

gmaps.configure(api_key=vacation_api_key)

In [18]:
#Use Final WeatherPy dataframe as start for Heatmap and Vacation Query
vacation_df = pd.read_csv("Output/weather_output.csv")
vacation_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,0,osijek,46,HR,1599529890,82,45.55,18.69,61.00,6.93
1,1,barra do garcas,2,BR,1599530028,59,-11.09,-43.14,77.05,14.29
2,2,rikitea,0,PF,1599530029,83,-23.12,-134.97,73.11,11.86
3,3,hilo,1,US,1599530029,58,19.73,-155.09,87.80,10.29
4,4,najran,0,SA,1599530029,38,17.49,44.13,75.20,2.95